@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!-- slide film section -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" id="imagesSlider">
        <div class="carousel-item active">
            <img src="~/images/shazam.jpg" class="image-slide d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                    <div class="detail-caption">
                        <h1 class="h1">SHAZAM !</h1>
                        <p>Mô tả.</p>
            </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/marvel.jpg" class="image-slide d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <div class="detail-caption">
                    <h1 class="h1">END GAME</h1>
                    <p>Mô tả.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/the-expendables-2.jpg" class="image-slide d-block w-100" alt="...">
            <div class="carousel-caption d-md-block">
                <div class="detail-caption">
                    <h1 class="h1">THE EXPENDABLES 2</h1>
                    <p>Mô tả.</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- slide film section -->
<!-- hot film section -->
<section class="product_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2>
                Phim <span>HOT</span>
            </h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/marvel.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">END GAME</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 120p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 1,800,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/shazam.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">SHAZAM !</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 135p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 800,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/the-expendables-2.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">THE EXPENDABLES 2</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 102p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 1,340,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/marvel.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">END GAME</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 120p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 1,800,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/shazam.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">SHAZAM !</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 135p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 800,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/the-expendables-2.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">THE EXPENDABLES 2</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 102p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 1,340,000</p>
                        </div>
                        <div class="detail-box" style="padding: 0px;">
                            <h5 style="width:100%"><span style="color: orange;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="javascript:;">
                Xem tất cả phim HOT
            </a>
        </div>
    </div>
</section>
<!-- hot film section -->
<!-- new film section -->
<section class="product_section layout_padding">
    <div class="container-fluid">
        <div class="heading_container heading_center">
            <h2>
                Phim <span>mới</span>
            </h2>
        </div>
        <div class="row">
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/marvel.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">END GAME</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 120p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 1,800,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/shazam.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">SHAZAM !</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 135p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 800,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/the-expendables-2.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">THE EXPENDABLES 2</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 102p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 1,340,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/marvel.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">END GAME</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 120p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 1,800,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/shazam.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">SHAZAM !</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 135p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 800,000</p>
                        </div>
                        <div class="detail-box">
                            <h5 style="color:orange; width:100%"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="box">
                    <div class="option_container">
                        <div class="options">
                            <a href="" class="option1">
                                Xem ngay
                            </a>
                            <a href="" class="option2">
                                Yêu thích
                            </a>
                            <a href="" class="option2">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                    <div class="img-box" style="margin-bottom:5px;margin-top:5px">
                        <img src="~/images/the-expendables-2.jpg" />
                    </div>
                    <div class="detail-box-container">
                        <div class="detail-box">
                            <h4 style="width: 100%; color: #ffffff">THE EXPENDABLES 2</h4>
                        </div>
                        <div class="detail-box">
                            <p style="color: #ffffff"><i class="fa-regular fa-clock"></i> 102p</p>
                            <p style="color: #ffffff"><i class="fa-regular fa-eye"></i> 1,340,000</p>
                        </div>
                        <div class="detail-box" style="padding: 0px;">
                            <h5 style="width:100%"><span style="color: orange;"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="javascript:;">
                Xem tất cả phim mới
            </a>
        </div>
    </div>
</section>
<!-- new film section -->
<!-- subscribe section -->
<section class="subscribe_section">
    <div class="container-fuild">
        <div class="box">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="subscribe_form ">
                        <div class="heading_container heading_center">
                            <h3>Subscribe To Get Discount Offers</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                        <form action="">
                            <input type="email" placeholder="Enter your email">
                            <button>
                                subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end subscribe section -->
