<div class="modal fade" id="modalAddHastag" tabindex="-1" role="dialog" aria-labelledby="modalAddHastagLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddHastagLabel">Thêm hastag mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-hashtag"></i></div>
                        <input type="text" id="txtHastag" name="txtHastag" placeholder="Nhập hastag" class="form-control">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" id="submitHastag" class="btn btn-primary">Thêm hashtag</button>
            </div>
        </div>
    </div>
</div>