@model SpendingManagement.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Lấy lại mật khẩu";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="index.html">
                    <img class="align-content" src="~/areas/admin/assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="login-form">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger"})
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Xác nhận</button>
                }
            </div>
        </div>
    </div>
</div>
